<br/>
<div class="form-group">
    @using (Html.BeginForm("GuardarImagen", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="archivo">Seleccionar archivo:</label>
        <input type="file" name="archivo" class="form-control" />
        <input type="submit" value="subir" class="btn btn-primary" />
        <br />
    }
    <span style="color:green">@ViewBag.Message</span>
    <img src="@ViewBag.Url" />
</div>